/* If you end up using this, consider donating: https://ko-fi.com/colorparrot — thanks, David Aerne

Cercle chromatique
1839 Michel Eugène Chevreul
https://rybitten.space/
*/

:root {
	--hotcaramel-50: #ebe2d8;
	--hotcaramel-100: #eaded2;
	--hotcaramel-200: #e5d2bf;
	--hotcaramel-300: #ddb99a;
	--hotcaramel-400: #d59669;
	--hotcaramel-500: #d16f3a;
	--hotcaramel-600: #d3541e;
	--hotcaramel-700: #be491b;
	--hotcaramel-800: #923c1b;
	--hotcaramel-900: #5d2d1c;
	--hotcaramel-950: #30211c;

	--crisps-50: #ebe3d9;
	--crisps-100: #eae2d6;
	--crisps-200: #e8ddca;
	--crisps-300: #e4d5b3;
	--crisps-400: #dfc98e;
	--crisps-500: #ddbb61;
	--crisps-600: #ddad39;
	--crisps-700: #c68a29;
	--crisps-800: #986021;
	--crisps-900: #5e3b1d;
	--crisps-950: #30241c;

	--greenolive-50: #e9e2d8;
	--greenolive-100: #e6dfd3;
	--greenolive-200: #dbd4c2;
	--greenolive-300: #c5c0a2;
	--greenolive-400: #a7a676;
	--greenolive-500: #868e4a;
	--greenolive-600: #697f2c;
	--greenolive-700: #5b6f24;
	--greenolive-800: #4a5620;
	--greenolive-900: #363a1e;
	--greenolive-950: #25251c;

	--campingtrip-50: #e9e2d9;
	--campingtrip-100: #e6dfd6;
	--campingtrip-200: #dbd5cc;
	--campingtrip-300: #c3c1b8;
	--campingtrip-400: #9ba198;
	--campingtrip-500: #667971;
	--campingtrip-600: #36574d;
	--campingtrip-700: #334e39;
	--campingtrip-800: #34432a;
	--campingtrip-900: #2c3321;
	--campingtrip-950: #22231d;

	--winestain-50: #e9e1d8;
	--winestain-100: #e5dbd2;
	--winestain-200: #d8cac0;
	--winestain-300: #bea89f;
	--winestain-400: #977773;
	--winestain-500: #6c454c;
	--winestain-600: #4d2337;
	--winestain-700: #441d31;
	--winestain-800: #3b1d2a;
	--winestain-900: #2e1d23;
	--winestain-950: #221d1e;

	--tandoori-50: #ebe2d9;
	--tandoori-100: #eaded5;
	--tandoori-200: #e5d3c8;
	--tandoori-300: #dcbbae;
	--tandoori-400: #cd9285;
	--tandoori-500: #ba5e51;
	--tandoori-600: #a72f26;
	--tandoori-700: #8d2420;
	--tandoori-800: #6a2122;
	--tandoori-900: #441f20;
	--tandoori-950: #271d1e;
}

a:link,
a:visited {
	color: var(--tandoori-900);
	text-decoration: underline;
	text-decoration-thickness: 5px;
	text-underline-offset: 4px;
}

a:focus,
a:hover {
	color: var(--tandoori-900);
	background-color: var(--hotcaramel-50);
	box-shadow:
		5px 5px var(--hotcaramel-50),
		-5px 5px var(--hotcaramel-50),
		-5px -5px var(--hotcaramel-50),
		5px -5px var(--hotcaramel-50);
}
