/* If you end up using this, consider donating: https://ko-fi.com/colorparrot — thanks, David Aerne

Interaction of Color
1942 Josef Albers
https://rybitten.space/
*/

:root {
	color-scheme: light dark;

	--solarflare-50: #e3e1df;
	--solarflare-100: #e3ded9;
	--solarflare-200: #e2d2c5;
	--solarflare-300: #e2baa0;
	--solarflare-400: #e29a6e;
	--solarflare-500: #e4793f;
	--solarflare-600: #e56526;
	--solarflare-700: #cb5822;
	--solarflare-800: #95421c;
	--solarflare-900: #512512;
	--solarflare-950: #180b07;

	--honeycrisp-50: #e3e3e1;
	--honeycrisp-100: #e3e2dd;
	--honeycrisp-200: #e2ddd0;
	--honeycrisp-300: #e2d5b5;
	--honeycrisp-400: #e3ca8a;
	--honeycrisp-500: #e7be53;
	--honeycrisp-600: #edb323;
	--honeycrisp-700: #cd971f;
	--honeycrisp-800: #916a1e;
	--honeycrisp-900: #4b3713;
	--honeycrisp-950: #150f06;

	--ferntastic-50: #e1e2e1;
	--ferntastic-100: #dedfdc;
	--ferntastic-200: #d5d6cd;
	--ferntastic-300: #c1c5b2;
	--ferntastic-400: #a0b38c;
	--ferntastic-500: #73a667;
	--ferntastic-600: #43a351;
	--ferntastic-700: #2f9047;
	--ferntastic-800: #216a35;
	--ferntastic-900: #12391f;
	--ferntastic-950: #06110a;

	--heavenlysky-50: #e1e2e2;
	--heavenlysky-100: #dedfe1;
	--heavenlysky-200: #d3d7da;
	--heavenlysky-300: #bdc6ce;
	--heavenlysky-400: #94acbe;
	--heavenlysky-500: #5d8dab;
	--heavenlysky-600: #25759b;
	--heavenlysky-700: #1b6f81;
	--heavenlysky-800: #185b5a;
	--heavenlysky-900: #0e352f;
	--heavenlysky-950: #04100d;

	--mutedpurple-50: #e1e0e1;
	--mutedpurple-100: #dedbdd;
	--mutedpurple-200: #d4cbcf;
	--mutedpurple-300: #c0acb8;
	--mutedpurple-400: #a2829d;
	--mutedpurple-500: #82588c;
	--mutedpurple-600: #703d8c;
	--mutedpurple-700: #63347d;
	--mutedpurple-800: #49285c;
	--mutedpurple-900: #281832;
	--mutedpurple-950: #0c0810;

	--berrylicious-50: #e3e1e1;
	--berrylicious-100: #e3dede;
	--berrylicious-200: #e1d3d2;
	--berrylicious-300: #debbba;
	--berrylicious-400: #d99396;
	--berrylicious-500: #d4616a;
	--berrylicious-600: #cf3348;
	--berrylicious-700: #b42e4b;
	--berrylicious-800: #822946;
	--berrylicious-900: #44192c;
	--berrylicious-950: #13070e;

	--color-foreground: light-dark(var(--ferntastic-950), var(--ferntastic-200));
	--color-background: light-dark(var(--ferntastic-200), var(--ferntastic-950));
	--footer-height: 6rem;
}

a:link,
a:visited {
	color: var(--color-foreground);
	text-decoration: underline;
	text-decoration-color: var(--ferntastic-700);
	text-decoration-thickness: 0.125em;
	text-underline-offset: 0.125em;
}

a:focus,
a:hover {
	color: var(--solarflare-950);
	background-color: var(--ferntastic-400);
	border-radius: 0.25em;
	box-shadow:
		5px 5px var(--ferntastic-400),
		-5px 5px var(--ferntastic-400),
		-5px -5px var(--ferntastic-400),
		5px -5px var(--ferntastic-400);
}
